In [1]:
# Import SparkContext
from pyspark import SparkContext as sc

In [2]:
# Verify SparkContext
print(sc)

<class 'pyspark.context.SparkContext'>

In [3]:
# Print Spark version
print(sc.version)

<property object at 0x0000020E34A27778>

In [4]:
# Import SparkSession from pyspark.sql
from pyspark.sql import SparkSession

In [5]:
# Create my_spark
spark = SparkSession.builder.getOrCreate()

In [6]:
# Print my_spark
print(spark)
spark

<pyspark.sql.session.SparkSession object at 0x0000020E34A05448>

In [7]:
#Incluindo datasets
spark.sparkContext.addFile('datasets/airports.csv')
spark.sparkContext.addFile('datasets/flights_small.csv')
spark.sparkContext.addFile('datasets/planes.csv')

In [8]:
# Print the tables in the catalog
print(spark.catalog.listTables())

[]

In [9]:
from pyspark import SparkFiles

#read CSV Files
airports = spark.read.csv(SparkFiles.get("airports.csv"), header = True, sep = ",")
flights = spark.read.csv(SparkFiles.get("flights_small.csv"), header = True, sep = ",")
planes = spark.read.csv(SparkFiles.get("planes.csv"), header = True, sep = ",")

In [10]:
#read book
sherlock = spark.read.text("sherlock\sherlock.txt")
sherlock.show(3)

+--------------------+
|               value|
+--------------------+
|Project Gutenberg...|
|                    |
|This eBook is for...|
+--------------------+
only showing top 3 rows

In [11]:
#Create Views
airports.createOrReplaceTempView("airports")
flights.createOrReplaceTempView("flights")
planes.createOrReplaceTempView("planes")
sherlock.createOrReplaceTempView("sherlock")

In [12]:
# Print the tables in the catalog
print(spark.catalog.listTables())

[Table(name='airports', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='flights', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='planes', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='sherlock', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [13]:
query = "from flights select * limit 10"

In [14]:
# Get the first 10 rows 
temp = spark.sql(query)

In [15]:
# Show the results
temp.show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|   6|    58|
|2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|
|2014|    3|  9|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|
|2014|    4|  9|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|     5|
|2014|    3|  9|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|   7|    54|
|2014|    1| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|  10|    37|
|2014|    7|  2|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|   8|    47|
|2014|    5| 12|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|  16|    55|
|2014|    4| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|  12|    36|
|2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+

In [16]:
# Convert the results to a pandas DataFrame
pd_temp = temp.toPandas()

In [17]:
# Print the head of pd_counts
print(pd_temp.head())

   year month day dep_time dep_delay arr_time arr_delay carrier tailnum  \
0  2014    12   8      658        -7      935        -5      VX  N846VA
1  2014     1  22     1040         5     1505         5      AS  N559AS
2  2014     3   9     1443        -2     1652         2      VX  N847VA
3  2014     4   9     1705        45     1839        34      WN  N360SW
4  2014     3   9      754        -1     1015         1      AS  N612AS

  flight origin dest air_time distance hour minute
0   1780    SEA  LAX      132      954    6     58
1    851    SEA  HNL      360     2677   10     40
2    755    SEA  SFO      111      679   14     43
3    344    PDX  SJC       83      569   17      5
4    522    SEA  BUR      127      937    7     54

In [18]:
import pandas as pd
import numpy as np

# Create pd_temp
pd_temp = pd.DataFrame(np.random.random(10))

In [19]:
# Create spark_temp from pd_temp
spark_temp = spark.createDataFrame(pd_temp)

In [20]:
# Add spark_temp to the catalog
spark_temp.createOrReplaceTempView("temp")

In [21]:
spark_temp.show()

+--------------------+
|                   0|
+--------------------+
|  0.3292955556354694|
|  0.6334714602584399|
| 0.44450411710080195|
|  0.1337328833460253|
|  0.5204160602907062|
|  0.8514499157996424|
| 0.13467395884290345|
| 0.43891472382139873|
| 0.13131247904757493|
|0.004449889821635189|
+--------------------+

In [22]:
#Renomeando coluna
df = spark_temp.withColumn("value", spark_temp[0]).select("value")
df.show()

+--------------------+
|               value|
+--------------------+
|  0.3292955556354694|
|  0.6334714602584399|
| 0.44450411710080195|
|  0.1337328833460253|
|  0.5204160602907062|
|  0.8514499157996424|
| 0.13467395884290345|
| 0.43891472382139873|
| 0.13131247904757493|
|0.004449889821635189|
+--------------------+

## Converting

In [23]:
# Create the DataFrame flights
flights = spark.table("flights")

In [24]:
flights.printSchema()

root
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day: string (nullable = true)
 |-- dep_time: string (nullable = true)
 |-- dep_delay: string (nullable = true)
 |-- arr_time: string (nullable = true)
 |-- arr_delay: string (nullable = true)
 |-- carrier: string (nullable = true)
 |-- tailnum: string (nullable = true)
 |-- flight: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: string (nullable = true)
 |-- distance: string (nullable = true)
 |-- hour: string (nullable = true)
 |-- minute: string (nullable = true)

In [25]:
from pyspark.sql import functions as F

flights = flights.withColumn("distance", flights["distance"].cast('int'))\
                 .withColumn("air_time", flights.air_time.cast('float'))\
                 .withColumn("dep_delay", flights.dep_delay.cast('float'))

flights.printSchema()

root
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day: string (nullable = true)
 |-- dep_time: string (nullable = true)
 |-- dep_delay: float (nullable = true)
 |-- arr_time: string (nullable = true)
 |-- arr_delay: string (nullable = true)
 |-- carrier: string (nullable = true)
 |-- tailnum: string (nullable = true)
 |-- flight: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: float (nullable = true)
 |-- distance: integer (nullable = true)
 |-- hour: string (nullable = true)
 |-- minute: string (nullable = true)

## Creating Columns

In [26]:
flights.show(3)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|   12|  8|     658|     -7.0|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|   132.0|     954|   6|    58|
|2014|    1| 22|    1040|      5.0|    1505|        5|     AS| N559AS|   851|   SEA| HNL|   360.0|    2677|  10|    40|
|2014|    3|  9|    1443|     -2.0|    1652|        2|     VX| N847VA|   755|   SEA| SFO|   111.0|     679|  14|    43|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
only showing top 3 rows

In [27]:
# Add duration_hrs
flights = flights.withColumn("duration_hrs", flights.air_time/60)
flights.show(3)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|duration_hrs|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
|2014|   12|  8|     658|     -7.0|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|   132.0|     954|   6|    58|         2.2|
|2014|    1| 22|    1040|      5.0|    1505|        5|     AS| N559AS|   851|   SEA| HNL|   360.0|    2677|  10|    40|         6.0|
|2014|    3|  9|    1443|     -2.0|    1652|        2|     VX| N847VA|   755|   SEA| SFO|   111.0|     679|  14|    43|        1.85|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
only showing top 3 rows

## SQL in a nutshell

In [28]:
spark.sql("""
SELECT AVG(air_time) / 60 avg_time_duration, origin, carrier
FROM flights
GROUP BY origin, carrier
""").show()

+------------------+------+-------+
| avg_time_duration|origin|carrier|
+------------------+------+-------+
| 2.641062801932367|   PDX|     US|
|3.4815763052208837|   SEA|     AA|
|2.5649012189995797|   PDX|     AS|
|2.9572755417956658|   PDX|     DL|
|1.5976558033161805|   SEA|     OO|
|3.4336904761904763|   SEA|     B6|
| 1.293419540229885|   PDX|     OO|
|  2.78377065111759|   PDX|     UA|
|3.3224926253687315|   SEA|     US|
|2.1333333333333333|   PDX|     F9|
|3.2710648148148147|   PDX|     AA|
| 3.027322796934866|   SEA|     UA|
|1.4189814814814814|   PDX|     VX|
| 3.008447488584475|   PDX|     B6|
|1.8805555555555555|   SEA|     VX|
|1.7586513994910942|   PDX|     WN|
| 3.136781609195402|   SEA|     DL|
|5.6587962962962965|   SEA|     HA|
|2.1505747126436785|   SEA|     F9|
|2.6464069845533915|   SEA|     AS|
+------------------+------+-------+
only showing top 20 rows

## Filtering Data

In [29]:
# Filter flights by passing a string
long_flights1 = flights.filter("distance > 1000")

In [30]:
# Filter flights by passing a column of boolean values
long_flights2 =  flights.filter(flights.distance > 1000)

In [31]:
# Print the data to check they're equal
long_flights1.show(3)
long_flights2.show(3)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|duration_hrs|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
|2014|    1| 22|    1040|      5.0|    1505|        5|     AS| N559AS|   851|   SEA| HNL|   360.0|    2677|  10|    40|         6.0|
|2014|    4| 19|    1236|     -4.0|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|   135.0|    1050|  12|    36|        2.25|
|2014|   11| 19|    1812|     -3.0|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|   198.0|    1721|  18|    12|         3.3|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
only showing top 3 rows

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|duration_hrs|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
|2014|    1| 22|    1040|      5.0|    1505|        5|     AS| N559AS|   851|   SEA| HNL|   360.0|    2677|  10|    40|         6.0|
|2014|    4| 19|    1236|     -4.0|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|   135.0|    1050|  12|    36|        2.25|
|2014|   11| 19|    1812|     -3.0|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|   198.0|    1721|  18|    12|         3.3|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
only showing top 3 rows

# Selecting

In [32]:
# Select the first set of columns
selected1 = flights.select("tailnum", "origin", "dest")
selected1.show(3)

+-------+------+----+
|tailnum|origin|dest|
+-------+------+----+
| N846VA|   SEA| LAX|
| N559AS|   SEA| HNL|
| N847VA|   SEA| SFO|
+-------+------+----+
only showing top 3 rows

In [33]:
# Select the second set of columns
temp = flights.select(flights.origin, flights.dest, flights.carrier)
temp.show(3)

+------+----+-------+
|origin|dest|carrier|
+------+----+-------+
|   SEA| LAX|     VX|
|   SEA| HNL|     AS|
|   SEA| SFO|     VX|
+------+----+-------+
only showing top 3 rows

In [34]:
# Define first filter
filterA = flights.origin == "SEA"

# Define second filter
filterB = flights.dest == "PDX"
filterB

Column<b'(dest = PDX)'>

In [35]:
# Filter the data, first by filterA then by filterB
selected2 = temp.filter(filterA).filter(filterB)
selected2.show(3)

+------+----+-------+
|origin|dest|carrier|
+------+----+-------+
|   SEA| PDX|     OO|
|   SEA| PDX|     OO|
|   SEA| PDX|     OO|
+------+----+-------+
only showing top 3 rows

In [36]:
# Define avg_speed
avg_speed = (flights.distance/(flights.air_time/60)).alias("avg_speed")
avg_speed

Column<b'(distance / (air_time / 60)) AS `avg_speed`'>

In [37]:
# Select the correct columns
speed1 = flights.select("origin", "dest", "tailnum", avg_speed)
speed1.show(3)

+------+----+-------+------------------+
|origin|dest|tailnum|         avg_speed|
+------+----+-------+------------------+
|   SEA| LAX| N846VA| 433.6363636363636|
|   SEA| HNL| N559AS| 446.1666666666667|
|   SEA| SFO| N847VA|367.02702702702703|
+------+----+-------+------------------+
only showing top 3 rows

In [38]:
# Create the same table using a SQL expression
speed2 = flights.selectExpr("origin", "dest", "tailnum", "distance/(air_time/60) as avg_speed")
speed2.show(3)

+------+----+-------+------------------+
|origin|dest|tailnum|         avg_speed|
+------+----+-------+------------------+
|   SEA| LAX| N846VA| 433.6363636363636|
|   SEA| HNL| N559AS| 446.1666666666667|
|   SEA| SFO| N847VA|367.02702702702703|
+------+----+-------+------------------+
only showing top 3 rows

## Aggregating

In [39]:
# Find the shortest flight from PDX in terms of distance
flights.filter(flights.origin == "PDX").groupBy().min("distance").show()

+-------------+
|min(distance)|
+-------------+
|          106|
+-------------+

In [40]:
# Find the longest flight from SEA in terms of air time
flights.filter('origin = "SEA"').groupBy().max("air_time").show()

+-------------+
|max(air_time)|
+-------------+
|        409.0|
+-------------+

In [41]:
# Average duration of Delta flights
flights.filter(flights.carrier == 'DL').filter(flights.origin == 'SEA').groupBy().avg('air_time').show()

+------------------+
|     avg(air_time)|
+------------------+
|188.20689655172413|
+------------------+

In [42]:
# Total hours in the air
flights.withColumn("duration_hrs", flights.air_time/60).groupBy().sum("duration_hrs").show()

+------------------+
| sum(duration_hrs)|
+------------------+
|25289.600000000126|
+------------------+

## Grouping and Aggregating

In [43]:
# Group by tailnum
by_plane = flights.groupBy("tailnum")
by_plane

In [44]:
# Number of flights each plane made
by_plane.count().show(3)

+-------+-----+
|tailnum|count|
+-------+-----+
| N442AS|   38|
| N102UW|    2|
| N36472|    4|
+-------+-----+
only showing top 3 rows

In [45]:
# Group by origin
by_origin = flights.groupBy("origin")
by_origin

In [46]:
# Average duration of flights from PDX and SEA
by_origin.avg("air_time").show()

+------+------------------+
|origin|     avg(air_time)|
+------+------------------+
|   SEA| 160.4361496051259|
|   PDX|137.11543248288737|
+------+------------------+

In [47]:
# Group by month and dest
by_month_dest = flights.groupBy("month", "dest")

In [48]:
# Average departure delay by month and destination
by_month_dest.avg("dep_delay").show(3)

+-----+----+-------------------+
|month|dest|     avg(dep_delay)|
+-----+----+-------------------+
|   11| TUS|-2.3333333333333335|
|   11| ANC|  7.529411764705882|
|    1| BUR|              -1.45|
+-----+----+-------------------+
only showing top 3 rows

In [49]:
# Import pyspark.sql.functions as F
import pyspark.sql.functions as F

# Standard deviation of departure delay
by_month_dest.agg(F.stddev("dep_delay")).show(3)

+-----+----+----------------------+
|month|dest|stddev_samp(dep_delay)|
+-----+----+----------------------+
|   11| TUS|    3.0550504633038935|
|   11| ANC|    18.604716401245316|
|    1| BUR|     15.22627576540667|
+-----+----+----------------------+
only showing top 3 rows

## Joining

In [50]:
# Examine the data
print(airports)

DataFrame[faa: string, name: string, lat: string, lon: string, alt: string, tz: string, dst: string]

In [52]:
# Rename the faa column
airports = airports.withColumnRenamed("faa", "dest")
print(airports)

DataFrame[dest: string, name: string, lat: string, lon: string, alt: string, tz: string, dst: string]

In [53]:
# Join the DataFrames
flights_with_airports = flights.join(airports, flights.dest == airports.dest, how='left')
print(flights_with_airports)

DataFrame[year: string, month: string, day: string, dep_time: string, dep_delay: float, arr_time: string, arr_delay: string, carrier: string, tailnum: string, flight: string, origin: string, dest: string, air_time: float, distance: int, hour: string, minute: string, duration_hrs: double, dest: string, name: string, lat: string, lon: string, alt: string, tz: string, dst: string]

In [54]:
flights_with_airports.show(3)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+----+------------------+---------+-----------+---+---+---+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|duration_hrs|dest|              name|      lat|        lon|alt| tz|dst|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+----+------------------+---------+-----------+---+---+---+
|2014|   12|  8|     658|     -7.0|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|   132.0|     954|   6|    58|         2.2| LAX|  Los Angeles Intl|33.942536|-118.408075|126| -8|  A|
|2014|    1| 22|    1040|      5.0|    1505|        5|     AS| N559AS|   851|   SEA| HNL|   360.0|    2677|  10|    40|         6.0| HNL|     Honolulu Intl|21.318681|-157.922428| 13|-10|  N|
|2014|    3|  9|    1443|     -2.0|    1652|        2|     VX| N847VA|   755|   SEA| SFO|   111.0|     679|  14|    43|        1.85| SFO|San Francisco Intl|37.618972|-122.374889| 13| -8|  A|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+----+------------------+---------+-----------+---+---+---+
only showing top 3 rows

In [55]:
# Join the DataFrames
flights_with_airports = flights.join(airports, on= ["dest"], how='leftouter')
flights_with_airports.show(3)

+----+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+--------+--------+----+------+------------+------------------+---------+-----------+---+---+---+
|dest|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|air_time|distance|hour|minute|duration_hrs|              name|      lat|        lon|alt| tz|dst|
+----+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+--------+--------+----+------+------------+------------------+---------+-----------+---+---+---+
| LAX|2014|   12|  8|     658|     -7.0|     935|       -5|     VX| N846VA|  1780|   SEA|   132.0|     954|   6|    58|         2.2|  Los Angeles Intl|33.942536|-118.408075|126| -8|  A|
| HNL|2014|    1| 22|    1040|      5.0|    1505|        5|     AS| N559AS|   851|   SEA|   360.0|    2677|  10|    40|         6.0|     Honolulu Intl|21.318681|-157.922428| 13|-10|  N|
| SFO|2014|    3|  9|    1443|     -2.0|    1652|        2|     VX| N847VA|   755|   SEA|   111.0|     679|  14|    43|        1.85|San Francisco Intl|37.618972|-122.374889| 13| -8|  A|
+----+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+--------+--------+----+------+------------+------------------+---------+-----------+---+---+---+
only showing top 3 rows